In [ ]:
insurance_df <- read.csv("insurance.csv")
head(insurance_df)
N <- nrow(insurance_df)
N

In [63]:
y_p <- insurance_df['charges']
x_p <- insurance_df['bmi']
cor(insurance_df$charges, insurance_df$age)
unique(insurance_df['region'])

[1] 0.2990082

  region
1 southwest
2 southeast
4 northwest
9 northeast

# Simple Random Sampling

In [60]:
ybar_pop <- mean(insurance_df$charges)
xbar_pop <- mean(insurance_df$age)

n <- 150
set.seed(1)
SRS.index <- sample.int(N, n, replace = FALSE)
insurance_s <- insurance_df[SRS.index, ]
head(insurance_s)

     age sex    bmi    children smoker region    charges
1017 19  female 24.605 1        no     northwest  2709.244
679  56  male   36.100 3        no     southwest 12363.547
129  32  female 17.765 2        yes    northwest 32734.186
930  41  male   34.210 1        no     southeast  6289.755
471  27  male   32.670 0        no     southeast  2497.038
299  31  male   34.390 3        yes    northwest 38746.355

In [59]:
# vanilla
ybar_sam <- mean(insurance_s$charges)
xbar_sam <- mean(insurance_s$age)
ybar_sam
sd_val_y <- sqrt((1-n/N) * var(insurance_s$charges)/n)
sd_val_y
CI_val_y <- c(ybar_sam - 1.96*sd_val_y, ybar_sam + 1.96*sd_val_y)
CI_val_y

[1] 13434.85

[1] 1007.058

[1] 11461.02 15408.69

In [58]:
# ratio
ratio_est <- ybar_sam/xbar_sam * xbar_pop
ybar_pop
ratio_est #ratio estimate
Se2 <- sum((y_p - ybar_sam/xbar_sam * x_p)^2)/(n-1)
Se2

print(" ")
sd_rat_y <- sqrt((1-n/N) * Se2/n)
sd_rat_y
CI_rat_y <- c(ratio_est - 1.96*sd_rat_y, ratio_est + 1.96*sd_rat_y)
CI_rat_y

[1] 13270.42

[1] 13301.53

[1] 1338995967

[1] " "

[1] 2815.297

[1]  7783.549 18819.512

In [61]:
# regression
summary(lm(charges~age, data=insurance_s))
regr_est <- 1872+291.99 * xbar_pop
Se2_r <- sum((y_p - (1872+291.99 * x_p))^2)/(n-1)
Se2_r
sd_rgr_y <- sqrt((1-n/N) * Se2_r/n)
sd_rgr_y
CI_rgr_y <- c(regr_est - 1.96*sd_rgr_y, regr_est + 1.96*sd_rgr_y)
CI_rgr_y

Call:
lm(formula = charges ~ age, data = insurance_s)

Residuals:
   Min     1Q Median     3Q    Max
 -7911  -6688  -5959  -4365  47581

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  1872.00    3066.64   0.610 0.542506
age           291.99      73.04   3.998 0.000101 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 12480 on 148 degrees of freedom
Multiple R-squared:  0.09745,	Adjusted R-squared:  0.09136
F-statistic: 15.98 on 1 and 148 DF,  p-value: 0.0001006

[1] 1321313036

[1] 2796.645

[1]  7838.634 18801.484

In [57]:
ybar_pop
ybar_sam
ratio_est
regr_est

[1] 13270.42

[1] 13434.85

[1] 13301.53

[1] 13320.06